{% load permissions %}

<form method="post" enctype="multipart/form-data" id="create-comment">
    <fieldset>
        <legend>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Comment</legend>
        {% if form.errors or formset.errors %}
            <div class="alert alert-danger">Please correct the errors below before submitting</div> 
        {% endif %}
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8">
                {{ form.body|bootstrap }}
            </div>
            <div class="col-md-4">
                {% if form.visibility %}
                    {{ form.visibility|bootstrap }}
                {% endif %}
            </div>
        </div>

        {% include '_images.html' %}
        <div class="row">
            <div class="col-md-10">
                <input type="hidden" name="submit_flag" value="{{ form.SUBMIT_FLAG }}" />
                <input type="submit" value="Submit" name="submit" class="btn btn-primary"/>
                {% if comment.pk %}
                    <a href="{% url 'reports-detail' comment.report.pk %}" class="btn btn-warning">Cancel</a>
                {% else %}
                    <button id="cancel-comment" class="btn btn-warning">Cancel</button>
                {% endif %}
            </div>
            {% if user|can_delete_comment:comment %}
                <div class="col-md-2">
                    <a href="{% url 'comments-delete' comment.pk %}" class="btn btn-danger pull-right">Delete</a>
                </div>
            {% endif %}
        </div>
    </fieldset>
    {% if comment.pk == None %}
        <script>
            $('#cancel-comment').click(function(e){
                e.preventDefault();
                $('#create-comment').slideUp().promise().done(function(){
                    $('#add-comment').css("display", "block");
                    $('#add-comment').css("visibility", "visible");
                });
            });
        </script>
    {% endif %}
</form>
