####################################
# Oregon Invasives Hotline Crontab #
####################################


# Clears HTTP sessions.
# Runs at 03h00 PST/PDT
0  3 * * *       cd {remote.build.dir}; {remote.build.python} {remote.build.python.manage} clearsessions > /dev/null 2>&1

# Explicitly generates icons for uploaded images
# Runs at 03h15 PST/PDT
15 3 * * *       cd {remote.build.dir}; {remote.build.python} {remote.build.python.manage} generate_icons --noinput > /dev/null 2>&1

# Explicitly rebuilds the Elasticsearch index
# Runs at 03h30 PST/PDT
30 3 * * *       cd {remote.build.dir}; {remote.build.python} {remote.build.python.manage} rebuild_index --noinput > /dev/null 2>&1
