[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://packages.wdt.pdx.edu/simple"
verify_ssl = true
name = "wdt"

[packages]
psu-oit-wdt-emcee = {version = "~=1.2.0.dev2", extras = ["aws"], index = "wdt" }
pytz = "*"
markdown = "~=3.6.0"
Pillow = "~=10.4.0"
Django = { version = "~=3.2.0", extras = ["argon2", "bcrypt"]}
psycopg2 = "~=2.9.0"
celery = "~=5.4.0"
uWSGI = "~=2.0.0"
gunicorn = "~=22.0.0"
djangorestframework = "~=3.15.0"
django-bootstrap-form = "==3.4"
sentry-sdk = "~=1.45.0"

[dev-packages]
coverage = "*"
flake8 = "*"
model_mommy = "*"
