[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://packages.wdt.pdx.edu/simple"
verify_ssl = true
name = "wdt"

[packages]
pytz = "*"
markdown = "~=3.4.0"
Pillow = "~=9.2.0"
Django = { version = "~=3.2.0", extras = ["argon2", "bcrypt"]}
psycopg2 = "~=2.9.0"
celery = "~=5.2.0"
uwsgi = "~=2.0.0"
djangorestframework = "~=3.13.0"
django-bootstrap-form = "==3.4"
"psu.oit.wdt.emcee" = {version = "~=1.1.0", extras = ["aws"], index = "wdt" }
sentry-sdk = "~=1.7.0"

[dev-packages]
coverage = "*"
flake8 = "*"
model_mommy = "*"

[requires]
python_version = "3.9"
