-f https://pypi.research.pdx.edu/dist/
psu.oit.arc.oregoninvasiveshotline==1.11.0
psu.oit.arc.tasks
backports.csv==1.0.5
blessings==1.6
boto3==1.4.7
botocore==1.7.27
bpython==0.16
cached-property==1.3.1
certifi==2017.7.27.1
chardet==3.0.4
cli-helpers==0.2.3
click==6.7
configobj==5.0.6
coverage==4.4.1
curtsies==0.2.11
Django==1.8.18
django-arcutils==2.24.0
django-bootstrap-form==3.3
django-cloak==1.0.0
django-haystack==2.4.1
django-local-settings==1.0b7
django-perms==2.0.0
django-pgcli==0.0.2
djangorestframework==3.6.4
docker==2.5.1
docker-compose==1.16.1
docker-pycreds==0.2.1
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
elasticsearch==1.9.0
flake8==3.4.1
greenlet==0.4.12
humanize==0.5.1
idna==2.6
jmespath==0.9.3
jsonschema==2.6.0
Markdown==2.6.9
mccabe==0.6.1
model-mommy==1.4.0
olefile==0.44
packaging==16.8
pgcli==1.8.1
pgspecial==1.8.0
Pillow==4.3.0
prompt-toolkit==1.0.15
psycopg2==2.7.3.1
pycodestyle==2.3.1
pyflakes==1.5.0
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
raven==6.2.1
requests==2.18.4
runcommands==1.0a25
s3transfer==0.1.11
setproctitle==1.1.10
six==1.11.0
sqlparse==0.2.4
terminaltables==3.1.0
texttable==0.9.1
urllib3==1.22
wcwidth==0.1.7
websocket-client==0.44.0
