{% extends "base.html" %}

{% block content %}
<a class="pull-right btn btn-primary" href="{% url 'categories-create' %}">Create a new category</a>
<h3>Categories</h3>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for category in object_list %}
            <tr>
                <td><a href="{% url 'categories-detail' category.pk %}">{{ category.name }}</a></td>
                <td class="text-right">
                    <a href="{% url 'categories-delete' category.pk %}" class="text-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
