{% extends 'base.html' %}

{% block content %}
    {% include '_admin_panel_nav.html' with nav_home=True nav_active='categories' %}<hr>

    <h3 class="clearfix">
        Categories
        <a href="{% url 'categories-create' %}" class="pull-right btn btn-primary">Create a new category</a>
    </h3>

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for category in object_list %}
                <tr>
                    <td><a href="{% url 'categories-detail' category.pk %}">{{ category.name }}</a></td>
                    <td class="text-right">
                        <a href="{% url 'categories-delete' category.pk %}" class="text-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
