{% extends "base.html" %}

{% block content %}
<a class="btn btn-primary pull-right" href="{% url 'species-create' %}">Create a new species</a>
<h3>Species</h3>

<form class="form-inline">
    {{ form.non_field_errors }}
    {{ form.q|bootstrap }}
    {{ form.order_by|bootstrap }}
    {{ form.order|bootstrap }}
    <div class="pull-right">
        <input type="submit" name="submit" value="Search" class="btn btn-primary" />
        <a class="btn btn-warning" href="{% url 'species-list' %}">Clear</a>
    </div>
</form>
<br />

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Scientific name</th>
            <th>Category</th>
            <th>Severity</th>
            <th>Confidential</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for species in all_species %}
            <tr>
                <td><a href="{% url 'species-detail' species.pk %}">{{ species.name }}</a></td>
                <td>{{ species.scientific_name }}</td>
                <td>{{ species.category }}</td>
                <td>{{ species.severity }}</td>
                <td>{% if species.is_confidential %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                <td class="text-right">
                    <a href="{% url 'species-delete' species.pk %}" class="text-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% include '_pagination.html' with items=all_species %}
{% endblock %}
