{% extends "base.html" %}

{% block content %}
<a class="btn btn-primary pull-right" href="{% url 'species-create' %}">Create a new species</a>
<h3>Species</h3>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Action</th>
            <th>Name</th>
            <th>Scientific name</th>
            <th>Category</th>
            <th>Severity</th>
            <th>Confidential</th>
        </tr>
    </thead>
    <tbody>
        {% for species in object_list %}
            <tr>
                <td class="nowrap">
                    <a href="{% url 'species-detail' species.pk %}">Edit</a>
                    <a href="{% url 'species-delete' species.pk %}">Delete</a>
                </td>
                <td>{{ species.name }}</td>
                <td>{{ species.scientific_name }}</td>
                <td>{{ species.category }}</td>
                <td>{{ species.severity }}</td>
                <td>{{ species.is_confidential }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
