.flatpage-header {
    float:left;
    margin-top:0;
}

.flatpage-content h2 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.flatpage-edit {
    margin-left:10px;
}

.flatpage-tabs li {
    float:right;
}

@media (max-width: 992px){
    .flatpage-tabs {
        clear:both;
    }
    .flatpage-tabs li {
        float:left;
    }
}
