<ul class="nav nav-pills{% if nav_stacked %} nav-stacked{% endif %}">
    {% if nav_home %}
        <li>
            <a href="{% url 'admin-panel' %}" title="Admin Panel">
                <span class="glyphicon glyphicon-wrench"></span>
            </a>
        </li>
    {% endif %}
    <li{% if nav_active == 'species' %} class="active"{% endif %}>
        <a href="{% url 'species-list' %}">Species</a>
    </li>
    <li{% if nav_active == 'categories' %} class="active"{% endif %}>
        <a href="{% url 'categories-list' %}">Categories</a>
    </li>
    <li{% if nav_active == 'severities' %} class="active"{% endif %}>
        <a href="{% url 'severities-list' %}">Severities</a>
    </li>
    <li{% if nav_active == 'pages' %} class="active"{% endif %}>
        <a href="{% url 'pages-list' %}">Static Pages</a>
    </li>
    <li{% if nav_active == 'users' %} class="active"{% endif %}>
        <a href="{% url 'users-list' %}">Users</a>
    </li>
    <li{% if nav_active == 'reports' %} class="active"{% endif %}>
        <a href="{% url 'admin:reports_report_changelist' %}">Reports</a>
    </li>
    <li{% if nav_active == 'subscriptions' %} class="active"{% endif %}>
        <a href="{% url 'notifications-admin-list' %}">Subscriptions</a>
    </li>
</ul>
