<fieldset id="images">
    <legend>Images</legend>
    <p><em>To add photos, click the button below and browse for the image on your computer. You can add multiple pictures by clicking the "Add Another Image" link.</em></p>
    <div class="formset">
        {{ formset.management_form }}
        <!-- the first form yielded is the empty form. We use that as a template for the JS, so make it hidden -->
        <table class="table table-striped2 table-condensed">
            {% for subform in formset.iter_with_empty_form_first %}
                <tr class="formset-row" {% if forloop.counter0 == 0%}style="display:none"{% endif %}>
                    <td>
                        {% if subform.image.errors %}
                            <div class="text-danger">
                                {{ subform.image.errors }}
                            </div>
                        {% endif %}
                        {% if not subform.image.value %}
                            <span class="preview"></span>
                        {% endif %}
                        {{ subform.image }}
                    </td>
                    <td style="width:100%">{{ subform.name|bootstrap }}</td>
                    {% if subform.visibility %}
                        <td class="visibility-selector">{{ subform.visibility|bootstrap }}</td>
                    {% endif %}
                    <td class="delete-field">{{ subform.image_id }} {{ subform.DELETE|bootstrap }}</td>
                </tr>
            {% endfor %}
        </table>
        <a href="#" class="formset-adder">Add Another Image</a>
    </div>
</fieldset>
