<div class="text-center">
    <ul class="pagination" style="margin: 0;">
        <li {% if not items.has_previous %}class="disabled"{% endif %}>
            <a title="Previous" aria-label="Previous"
               {% if items.has_previous %}
                   href="{% add_get page=items.previous_page_number %}"
               {% else %}
                   href="#"
               {% endif %}>
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
        </li>

        <li {% if not items.has_next %}class="disabled"{% endif %}>
            <a title="Next" aria-label="Next"
               {% if items.has_next %}
                   href="{% add_get page=items.next_page_number %}"
               {% else %}
                   href="#"
               {% endif %}>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
    <div>
        {% if items.number %}
            Page {{ items.number }} of {{ items.paginator.num_pages }}
        {% endif %}
    </div>
</div>
