{% extends 'base.html' %}

{% load pages %}

{% block main_class %}container-fluid{% endblock %}
{% block body_class %}white{% endblock %}

{% block content %}
    <div class="row" id="headline">
        <div class="col-md-5" id="headline-info">
            <!-- this horrible inline css is brought to you by http://howtocenterincss.com/ -->
            <div style="display: table; height: 500px;">
                <div style="display: table-cell; vertical-align: middle;">
                    <div style="margin-left: auto; margin-right: auto;">
                        {% getcontent 'headline' %}
                        <div id="headline-buttons">
                            <a class="btn btn-warning" href="{% url 'reports-create' %}">Report Now</a>
                            <a class="btn btn-success" href="{% url 'reports-list' %}">Search Reports</a>
                            <a id="headline-buttons-info" class="btn btn-primary" href="#">
                                About the Hotline <span class="arrow">&#8595;</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 hidden-sm hidden-xs" id="headline-map">
            <div id="map-canvas" style="cursor: pointer; height: 500px;"></div>
        </div>
    </div>

    <div class="row" id="sponsors">
        <a href="http://pdx.edu"><img src="{% static 'img/PSU.gif' %}"></a>
        <a href="http://www.cascadepacific.org/western-invasives-network"><img src="{% static 'img/WIN.jpg' %}"></a>
        <a href="http://www.oregoninvasivespeciescouncil.org/"><img src="{% static 'img/OISC.png' %}"></a>
    </div>

    <div id="midline">
        {% getcontent 'midline' %}

        <div class="midline-block">
            {% getcontent 'midline-block1' %}
        </div><div class="midline-block longest">
            {% getcontent 'midline-block2' %}
        </div><div class="midline-block">
            {% getcontent 'midline-block3' %}
        </div>
    </div>

    {% getcontent 'midline-footer' %}
{% endblock %}

{% block js %}
    {{ block.super }}

    <script src="{{ GOOGLE.maps.url }}"></script>

    <script>
        $(document).ready(function () {
            var reports = {{ reports|jsonify }}

            $('#map-canvas').click(function(){ window.location = '{% url 'reports-list' %}'})

            google.maps.event.addDomListener(window, 'load', function(){;
                var options = getDefaultMapOptions();
                // this is a style I picked off of https://snazzymaps.com/ and customized
                // so waterbodies are green, and fit in with the headline background color
                options.styles = [ { "featureType": "administrative", "elementType": "labels.text.fill", "stylers": [ { "color": "#444444" } ] }, { "featureType": "landscape", "elementType": "all", "stylers": [ { "color": "#f2f2f2" } ] }, { "featureType": "poi", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road", "elementType": "all", "stylers": [ { "saturation": -100 }, { "lightness": 45 } ] }, { "featureType": "road.highway", "elementType": "all", "stylers": [ { "visibility": "simplified" } ] }, { "featureType": "road.arterial", "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] }, { "featureType": "transit", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "water", "elementType": "all", "stylers": [ { "color": "#557716" }, { "visibility": "on" } ] } ]
                // this map is for decoration, so it shouldn't be zoomable, pannable, etc
                options.disableDefaultUI = true;
                options.disableDoubleClickZoom = true;
                options.draggable = false;
                options.scrollwheel = false;
                var map = new google.maps.Map(document.getElementById('map-canvas'), options);

                // we need to save all the "info windows" we create, so we can close them
                // all when a balloon is clicked (so only one window opens at a time)
                var windows = []
                // for each report, draw the marker on the map where the report was located
                for(var i = 0; i < reports.length; i++){
                    var report = reports[i];
                    var marker = new google.maps.Marker({
                        position: {
                            lat: report.lat,
                            lng: report.lng
                        },
                        map: null,
                        title: report.title,
                        icon: generateIcon(report.icon_url),
                    });

                    // randomly drop the pins on the map within a few seconds
                    with({marker: marker}){
                        setTimeout(function(){
                            marker.setAnimation(google.maps.Animation.DROP);
                            marker.setMap(map);
                        },  Math.min(1.5, i)*1000*Math.random())
                    }
                }

                // when the page resizes we need to center the map back at the right place.
                // We have to do this *after* the resize event finishes, which, unfortunately,
                // requires this hacky timeout code
                var timer = 0 ;
                $(window).on('resize', function(){
                    clearTimeout(timer);
                    timer = setTimeout(function(){
                        map.panTo(options.center);
                    }, 10);
                });
            })

            /* When the "About the Hotline" button is click, animate a scroll to a certain
               position on the page. In some cases, we need to pad the bottom of the page,
               so we can scroll all the way down.
            */
            $('#headline-buttons-info').click(function(e){
                e.preventDefault();
                var go_to = $('#midline').offset().top
                var viewport_height = $(window).height();
                var body_height = $('body').height()
                var to_pad = Math.max(0, viewport_height - (body_height - go_to))
                $('body').css('border-bottom', to_pad + "px solid #577716" )
                $('html, body').animate({
                    scrollTop: go_to
                });
            });
        });
    </script>
{% endblock %}
