{% extends "base.html" %}
{% block content %}
<div class="pull-right">
    <a class="btn btn-primary" href="{% url 'users-create' %}">Create User</a>
</div>
<h3>User List</h3>

<form class="form-inline">
    {{ form|bootstrap }}
    <input type="submit" value="Search" class="btn btn-primary"/>
    <button onclick="window.location = '{% url 'users-list' %}'; return false" class="btn btn-default">Reset</button>
</form>
<br />

{% if users %}
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th class="text-center">Manager</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <!--
                    We manually build the user's full name if they have one
                    instead of calling get_full_name because we cannot
                    determine from the template if we recieve a full name or
                    nothing at all.
                    -->
                    <td><a href="{% url 'users-edit' user.pk %}">{% if user.first_name and user.last_name %}{{ user.last_name }}, {{ user.first_name }}{% else %}{{ user.email }}{% endif %}</a></td>
                    <td>{{ user.email }}</td>
                    <td class="text-center">{% if user.is_active %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                    <td class="text-right">
                        <a href="{% url 'users-delete' user.pk %}" class="text-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "_pagination.html" with items=users %}
{% elif form.in_search_mode %}
    <div class="alert alert-warning">No matching results!</div>
{% else %}
    <div class="alert alert-warning">You haven't created any users!</div>
{% endif %}

{% endblock %}
