{% comment %}
We need to load the permissions template library so we can access the permission functions defined in perms.py modules
{% endcomment %}
{% load permissions %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Oregon Invasives Hotline{% endblock %}</title>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/cookie.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% block head %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block body %}

        {% comment %}
        If the user is cloaked as a different user, we display a message indicating it
        {% endcomment %}
        {% if user.is_cloaked %}
            <div class="alert alert-danger" id="mask-alert">
                <strong class="text-danger">You are masquerading as {{ user }}</strong>
                <form style="display:inline" method="post" action="{% url 'uncloak' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ on_uncloak_goto }}" />
                    <input type="submit" name="submit" value="Un-masquerade" class="btn btn-danger btn-xs" />
                </form>
            </div>
        {% endif %}

        <div class="{% if user.is_cloaked %}cloak-pushdown{% endif %}">
            <div id="header" class="container">
                <div class="row">
                    <div class="col-md-5">
                        <a href="{% url 'home' %}"><img src="http://oregoninvasiveshotline.org/presentation/chrome/hotline_banner.png"></a>
                    </div>
                    <div class="col-md-7" id="header-links">
                        <a href="/pages/learn/">Learn</a>
                        <a href="{% url 'reports-list' %}">Browse Map</a>
                        <a class="btn btn-warning" href="{% url 'reports-create' %}">Report Now</a>
                        {% if user.is_authenticated and user.is_active %}
                            <strong><a href="{% url 'users-home' %}">My Account</a></strong>
                        {% elif request.session.report_ids or user.is_authenticated %}
                            <strong><a href="{% url 'users-home' %}">My Reports</a></strong>
                        {% else %}
                            <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="{% block main_class %}container{% endblock %}">
                {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                {% endif %}

                {% block content %}{% endblock %}
            </div>

            <div class="container text-center text-muted" id="footer">
                <h6>Copyright &copy; {% now "Y" %}</h6>
            </div>
        </div>
    {% endblock %}
</body>
</html>
