{% extends "base.html" %}
{% block main_class %}container-fluid{% endblock %}
{% block body_class %}white{% endblock %}
{% block content %}

<div class="row" id="headline">
    <div class="col-md-5" id="headline-info">
        <!-- this horrible inline css is brought to you by http://howtocenterincss.com/ -->
        <div style="display:table; height:500px">
            <div style="display:table-cell;vertical-align:middle;">
                <div style="margin-left:auto;margin-right:auto;">
                    <p><big>Have you seen something suspicious in your backyard or neighborhood?</big> Are you having trouble identifying something you've found? Report potential invasive species you've found to the Online Hotline. Your submission will provide vital early detection information to the experts working to stop the next invasion before it starts.</p>
                    <div id="headline-buttons">
                        <a class="btn btn-warning" href="{% url 'reports-create' %}">Report Now</a>
                        <a class="btn btn-success" href="#">Browse Map</a>
                        <a id="headline-buttons-info" class="btn btn-primary" href="#">About the Hotline <span class="arrow">&#8595;</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <!--<iframe style="margin-bottom:-5px;" width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=10&center=45.5231%2C-122.6765&key=AIzaSyDRamH3fauUUQow07BOuep8gojIvCiGpm4" allowfullscreen></iframe>-->
    </div>
</div>

<div class="row" id="sponsors">
    <a href="#"><img src="http://oregoninvasiveshotline.org/presentation/chrome/badge_opb.png"></a>
    <a href="#"><img src="http://oregoninvasiveshotline.org/presentation/chrome/badge_oisc.png"></a>
    <a href="#"><img src="http://oregoninvasiveshotline.org/presentation/chrome/badge_mysource.png"></a>
</div>

<div id="midline">
    <h1>Help stop the spread of invasive species in Oregon</h1>
    <p>In their efforts to detect new outbreaks, invasive species experts in Oregon
    face the daunting challenge of tracking hundreds of potential new invaders
    across millions of acres of farms, forests, and waterways. They can't do it
    alone. <strong>They need the help of all Oregonians to be their eyes in the field.</strong></p>

    <p>The Oregon Invasive Species Online Hotline is designed to help you become
    involved in this effort. By using the Online Hotline to report suspected
    invasive species in your area, you'll be contributing vital early detection
    information to the experts best able to stop the spread of invasives. The
    Online Hotline also lets you connect directly with an expert to get positive
    identifications and answers to your questions.</p>

    <div class="midline-block">
        <strong><a href="/pages/learn">Learn</a></strong> - Familiarize yourself with the potential invasive species in the areas where you live or visit frequently. Get started with <a href="http://www.opb.org/programs/invasives/guide.php" title="The Silent Invasion: Quick Guide">the Silent Invasion Quick Guide</a> or the <a href="http://www.nature.org/ourinitiatives/regions/northamerica/unitedstates/oregon/howwework/gardensmart-oregon.xml" title="">GardenSmart Oregon booklet</a>.
    </div><div class="midline-block longest">
        <strong><a href="/pages/look">Look</a></strong> - Wherever you are - hiking in the forest, on a fishing trip or digging in your garden - keep your eye out for unusual animals or plants that you have never seen before and be prepared to take a picture and document your find.
    </div><div class="midline-block">
        <strong><a href="/pages/report">Report</a></strong> - Use the Online Hotline to report your find.
    </div>
</div>

<p>To protect Oregon from invasive species, it is important to stop new
outbreaks before they start. By the time an invader is easily noticeable and
begins to cause damage, it is often too late. It can be difficult and expensive
to remove an established invader. However, by detecting new outbreaks early and
acting quickly to control them, we can avoid many of the environmental and
economic losses caused by invasive species.</p>


{% endblock %}
