{% extends "base.html" %}
{% block main_class %}container-fluid{% endblock %}
{% block body_class %}white{% endblock %}
{% block content %}

<div class="row" id="headline">
    <div class="col-md-5" id="headline-info">
        <!-- this horrible inline css is brought to you by http://howtocenterincss.com/ -->
        <div style="display:table; height:500px">
            <div style="display:table-cell;vertical-align:middle;">
                <div style="margin-left:auto;margin-right:auto;">
                    <p><big>Have you seen something suspicious in your backyard or neighborhood?</big> Are you having trouble identifying something you've found? Report potential invasive species you've found to the Online Hotline. Your submission will provide vital early detection information to the experts working to stop the next invasion before it starts.</p>
                    <div id="headline-buttons">
                        <a class="btn btn-warning" href="{% url 'reports-create' %}">Report Now</a>
                        <a class="btn btn-success" href="{% url 'reports-list' %}">Browse Map</a>
                        <a id="headline-buttons-info" class="btn btn-primary" href="#">About the Hotline <span class="arrow">&#8595;</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 hidden-sm hidden-xs" id="headline-map">
        <div id="map-canvas" style="height:500px"></div>
    </div>
</div>

<div class="row" id="sponsors">
    <a href="#"><img src="http://oregoninvasiveshotline.org/presentation/chrome/badge_opb.png"></a>
    <a href="#"><img src="http://oregoninvasiveshotline.org/presentation/chrome/badge_oisc.png"></a>
    <a href="#"><img src="http://oregoninvasiveshotline.org/presentation/chrome/badge_mysource.png"></a>
</div>

<div id="midline">
    <h1>Help stop the spread of invasive species in Oregon</h1>
    <p>In their efforts to detect new outbreaks, invasive species experts in Oregon
    face the daunting challenge of tracking hundreds of potential new invaders
    across millions of acres of farms, forests, and waterways. They can't do it
    alone. <strong>They need the help of all Oregonians to be their eyes in the field.</strong></p>

    <p>The Oregon Invasive Species Online Hotline is designed to help you become
    involved in this effort. By using the Online Hotline to report suspected
    invasive species in your area, you'll be contributing vital early detection
    information to the experts best able to stop the spread of invasives. The
    Online Hotline also lets you connect directly with an expert to get positive
    identifications and answers to your questions.</p>

    <div class="midline-block">
        <strong><a href="/pages/learn">Learn</a></strong> - Familiarize yourself with the potential invasive species in the areas where you live or visit frequently. Get started with <a href="http://www.opb.org/programs/invasives/guide.php" title="The Silent Invasion: Quick Guide">the Silent Invasion Quick Guide</a> or the <a href="http://www.nature.org/ourinitiatives/regions/northamerica/unitedstates/oregon/howwework/gardensmart-oregon.xml" title="">GardenSmart Oregon booklet</a>.
    </div><div class="midline-block longest">
        <strong><a href="/pages/look">Look</a></strong> - Wherever you are - hiking in the forest, on a fishing trip or digging in your garden - keep your eye out for unusual animals or plants that you have never seen before and be prepared to take a picture and document your find.
    </div><div class="midline-block">
        <strong><a href="/pages/report">Report</a></strong> - Use the Online Hotline to report your find.
    </div>
</div>

<p>To protect Oregon from invasive species, it is important to stop new
outbreaks before they start. By the time an invader is easily noticeable and
begins to cause damage, it is often too late. It can be difficult and expensive
to remove an established invader. However, by detecting new outbreaks early and
acting quickly to control them, we can avoid many of the environmental and
economic losses caused by invasive species.</p>

<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDRamH3fauUUQow07BOuep8gojIvCiGpm4"></script>
<script>
reports = {{ reports_json|safe }}

google.maps.event.addDomListener(window, 'load', function(){;
    var options = getDefaultMapOptions();
    // this is a style I picked off of https://snazzymaps.com/ and customized
    // so waterbodies are green, and fit in with the headline background color
    options.styles = [ { "featureType": "administrative", "elementType": "labels.text.fill", "stylers": [ { "color": "#444444" } ] }, { "featureType": "landscape", "elementType": "all", "stylers": [ { "color": "#f2f2f2" } ] }, { "featureType": "poi", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road", "elementType": "all", "stylers": [ { "saturation": -100 }, { "lightness": 45 } ] }, { "featureType": "road.highway", "elementType": "all", "stylers": [ { "visibility": "simplified" } ] }, { "featureType": "road.arterial", "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] }, { "featureType": "transit", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "water", "elementType": "all", "stylers": [ { "color": "#557716" }, { "visibility": "on" } ] } ]
    // this map is for decoration, so it shouldn't be zoomable, pannable, etc
    options.disableDefaultUI = true;
    options.disableDoubleClickZoom = true;
    options.draggable = false;
    options.scrollwheel = false;
    var map = new google.maps.Map(document.getElementById('map-canvas'), options);

    // we need to save all the "info windows" we create, so we can close them
    // all when a balloon is clicked (so only one window opens at a time)
    var windows = []
    // for each report, draw the marker on the map where the report was located
    for(var i = 0; i < reports.length; i++){
        var report = reports[i];
        var marker = new google.maps.Marker({
            position: {
                lat: report.lat,
                lng: report.lng
            },
            map: null,
            title: report.title,
            icon: generateIcon(report.icon),
        });

        // randomly drop the pins on the map within a few seconds
        setTimeout(function(marker){
            marker.setAnimation(google.maps.Animation.DROP);
            marker.setMap(map);
        },  Math.min(1.5, i)*1000*Math.random(), marker)


        var infowindow = new google.maps.InfoWindow({
            content: report.content
        });

        // we keep track of all the
        windows.push(infowindow)

        with({map: map, marker: marker, infowindow: infowindow}){
            google.maps.event.addListener(marker, 'click', function() {
                for(var i = 0; i < windows.length; i++){
                    windows[i].close()
                }
                infowindow.open(map, marker);
            });
        }
    }

    // when the page resizes we need to center the map back at the right place.
    // We have to do this *after* the resize event finishes, which, unfortunately,
    // requires this hacky timeout code
    var timer = 0 ;
    $(window).on('resize', function(){
        clearTimeout(timer);
        timer = setTimeout(function(){
            map.panTo(options.center);
        }, 10);
    });
})

/* When the "About the Hotline" button is click, animate a scroll to a certain
   position on the page. In some cases, we need to pad the bottom of the page,
   so we can scroll all the way down.
*/
$('#headline-buttons-info').click(function(e){
    e.preventDefault();
    var go_to = $('#midline').offset().top
    var viewport_height = $(window).height();
    var body_height = $('body').height()
    var to_pad = Math.max(0, viewport_height - (body_height - go_to))
    $('body').css('border-bottom', to_pad + "px solid #577716" )
    $('html, body').animate({
        scrollTop: go_to
    });
});

</script>

{% endblock %}
