{% extends "base.html" %}
{% block title %}
Subscribe to Search
{% endblock %}
{% block content %}
<h3>Subscribe to a Search</h3>
<p>Any <em>new</em> reports submitted to the Hotline that match the search you just performed will be emailed to you.</p>
<form method="post">
    {% csrf_token %}
    {{ form.name|bootstrap }}
    <input type="submit" name="submit" value="Subscribe" class="btn btn-primary"/>
    <a href="javascript:window.history.go(-1)" class="btn btn-default">Back</a>
</form>
{% endblock %}
