{% extends "base.html" %}
{% block content %}
{% include "nav_tabs.html" with tab="subscribed" %}
<div class="tab-content">
    <div class="tab-pane active" id="subscribed">
        <h3>Searches you have subscribed to</h3>
        <p>Here is a list of searches you have subscribed to. When a newly submitted report matches one of these searches you will get an email notification about it.</p>
        {% if form.errors %}
            <div class="alert alert-warning">{{ form.errors }}</div>
        {% endif %}
        <form method="post">
            <table class="table table-striped">
                {% csrf_token %}
                <thead>
                    <tr>
                        <th>
                            {% if form.subscriptions %}
                                <button class="btn btn-danger btn-xs" name="Delete-Selected" type="submit" Onclick="return confirm('Are you sure you want to delete this search? This action cannot be undone!');"><span class="glyphicon glyphicon-trash"></span></button> Delete
                            {% else %}
                                Delete
                            {% endif %}
                        </th>
                        <th>Name</th>
                        <th>Search Query</th>
                    </tr>
                </thead>
                <tbody>
                    {% for model, choice in form.iter_items %}
                        <tr>
                            <td>
                                {{ choice.tag }}
                            </td>
                            <td>
                                <a href="{% url 'reports-list' %}?{{ model.query }}">{{ choice.choice_label|truncatechars:50 }}</a>
                            </td>
                            <td>
                                {{ model.query|truncatechars:50 }}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3" class="text-center">You haven't subscribed to any searches yet! Go to the <a href="{% url 'reports-list' %}">reports</a> page to do that.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>
{% endblock %}
