html, body {
    background-color:#3a7a16;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#577716+0,3a7a16+100 */
    background: #577716; /* Old browsers */
    background: -moz-linear-gradient(top,  #577716 0%, #3a7a16 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#577716), color-stop(100%,#3a7a16)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #577716 0%,#3a7a16 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #577716 0%,#3a7a16 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #577716 0%,#3a7a16 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #577716 0%,#3a7a16 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#577716', endColorstr='#3a7a16',GradientType=0 ); /* IE6-9 */
}

body.white {
    background:#fff;
    filter:none;
}

.container {
    background-color:#fff;
}

#header {
    text-align:center;
    padding-bottom:20px;
    margin-bottom:5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


/* the element right after the header should have a top border radius */
#header + * {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-top:20px;
}

#header-links {
    padding-top:40px;
    text-align:center;
}

#header-links a {
    font-size:16px;
    padding:6px 12px;
}

#header-links a.btn {
    margin-left:5px;
}


#header img {
    width:100%;
    max-width:500px;
}

#footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top:10px;
}

.arrow {
}

#headline {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#577716+0,3a7a16+100 */
    background: #577716; /* Old browsers */
    background: -moz-linear-gradient(top,  #577716 0%, #3a7a16 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#577716), color-stop(100%,#3a7a16)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #577716 0%,#3a7a16 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #577716 0%,#3a7a16 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #577716 0%,#3a7a16 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #577716 0%,#3a7a16 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#577716', endColorstr='#3a7a16',GradientType=0 ); /* IE6-9 */
}

#headline-info {
    color:#fff;
    font-size:18px;
}

#headline-buttons {
    margin-top:30px;
    text-align:center;
}

#headline-buttons a {
    margin-right:5px;
    margin-left:5px;
    margin-bottom:10px;
}

#headline-buttons-info {
    background:none;
    border:1px solid white;
}

#headline-buttons-info:hover {
    text-decoration:underline;
}

#sponsors {
    background-color:#F8F8F8;
    padding:30px;
}

#sponsors a {
    display:inline-block;
    width:33%;
    text-align:center;
}

#midline {
    padding-top:50px;
    padding-bottom:50px;
}

#midline h1 {
    font-size:22px;
    text-align:center;
    margin-bottom:50px;
}

.midline-block {
    width:29%;
    min-width:200px;
    margin-left:2%;
    margin-right:2%;
    display:inline-block;
    vertical-align:top;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:50px;
}

.midline-block.longest {
    border-right:1px solid #ddd;
    border-left:1px solid #ddd;
    padding-left:2%;
    padding-right:2%;
    margin-left:0;
    margin-right:0;
}

.formset-row-deleted {
    opacity:0.2;
    filter: alpha(opacity = 20);
}

.formset-row .form-group {
    margin-bottom:0;
}

.radio, .checkbox {
    margin-top:0;
}

.cloak-pushdown {
    margin-top:60px;
}

#mask-alert {
    text-align:center;
}

.credit img {
    padding-right:5px;
}

.misidentified {
    font-size:14px;
    color:#ff8800;
}

.sidebar-block {
    margin-top:50px;
}

.report-management-icons {
    font-size:18px;
}

.report-management a {
    color:#aaa;
    text-align:center;
}

.sidebar div:first-child {
    margin-top:0;
}

.galleria {
    height:400px;
}

#add-comment {
    margin-top:10px;
}

#create-comment {
    display:none;
}

#images input[type='file'] {
    display:inline;
    width:225px;
}

.formset-row-deleted {
    opacity:0.2;
    filter: alpha(opacity = 20);
}

.formset-row td {
    vertical-align:middle !important;
    white-space:nowrap
}

.comment-list .media {
    padding:10px;
}

.comment-list:nth-child(2n) .media {
    background-color:#F9F9F9;
}

#images {
    margin-bottom:20px;
}

#images table {
    margin-bottom:0;
}

#create-comment > fieldset {
    border: 1px solid #E5E5E5;
    padding: 10px;
}

#create-comment > fieldset > legend {
    border-bottom:none;
    display:inline;
    width:auto;
    padding:5px;
    margin-bottom:0;
}

#create-comment #images legend {
    font-size:16px;
    font-weight:bold;
    margin-bottom:5px;
}

.visibility-selector select {
    width:150px;
}

.tab-pane {
    border:1px solid #ddd;
    border-top:none;
    padding:10px;
}
