body {
    background-color:#E5E6DE;
    background-image: url('../img/header.jpg');
    background-repeat: repeat-x;
}

.formset-row-deleted {
    opacity:0.2;
    filter: alpha(opacity = 20);
}

.formset-row .form-group {
    margin-bottom:0;
}

.radio, .checkbox {
    margin-top:0;
}

.cloak-pushdown {
    margin-top:60px;
}

#header {
    padding-top:24px;
    padding-bottom:24px;
}

#upper-info {
    float: right;
    color: #fff;
    font-size: 12px;
    padding-top:5px;
    margin-top:-24px; /* these needs to be the negative of #header padding-top */
}

#upper-info a {
    color:#fff;
}

#brand {
    color:#ffffff;
    font-size:22px;
    margin-left:24px;
}

.navbar {
    border-radius:0;
    border-left:none;
    border-right:none;
}

.navbar-default {
    background-color: #6a7f10;
    border-color: #B4BF88;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color:#fff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color:#cdcdcd;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color:#ffffff;
    color:#6a7f10;
}

.navbar-nav .open .dropdown-menu {
    background-color:#ffffff;
}

#main {
    background-color:#ffffff;
    padding-bottom:16px;
    padding-top:16px;
}

#mask-alert {
    text-align:center;
}

.credit img {
    padding-right:5px;
}

.misidentified {
    font-size:14px;
    color:#ff8800;
}

.location, .related, .credit {
    margin-top:50px;
}

.sidebar div:first-child {
    margin-top:0;
}

.galleria {
    height:400px;
}

#add-comment {
    margin-top:10px;
}

#create-comment {
    display:none;
}

#images input[type='file'] {
    display:inline;
}

.formset-row-deleted {
    opacity:0.2;
    filter: alpha(opacity = 20);
}

.formset-row td {
    vertical-align:middle !important;
    white-space:nowrap
}

.comment-list .media {
    padding:10px;
}

.comment-list:nth-child(2n+1) .media {
    background-color:#F9F9F9;
}

#images {
    margin-bottom:20px;
}

#images table {
    margin-bottom:0;
}

#create-comment > fieldset {
    border: 1px solid #E5E5E5;
    padding: 10px;
}

#create-comment > fieldset > legend {
    border-bottom:none;
    display:inline;
    width:auto;
    padding:5px;
    margin-bottom:0;
}

#create-comment #images legend {
    font-size:16px;
    font-weight:bold;
    margin-bottom:5px;
}

.visibility-selector select {
    width:150px;
}
