{% extends "base.html" %}
{% block title %}
Account Home
{% endblock %}
{% block content %}
{% include "nav_tabs.html" with active="home" %}
<div class="tab-content">
    <div class="tab-pane active">
        <div class="row">
            {% if user.pk %}
                <div id="avatar_box" class="col-md-4">
                    <div id="avatar-image">
                        <img src="{{ user.get_avatar_url }}" />
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a class="pull-left" href="{% url 'users-edit' user.pk %}">Edit Profile</a>
                            {% if user.is_active %}
                                <a class="pull-right" href="{% url 'password_change' %}">Change Password</a>
                            {% endif %}
                        </div>
                        <table class="table">
                            {% if user.is_active %}
                                <tr>
                                    <th>Email</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <th>Manager</th>
                                    <td>{{ user.is_active }}</td>
                                </tr>
                                <tr>
                                    <th>Admin</th>
                                    <td>{{ user.is_staff }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>Joined</th>
                                <td>{{ user.date_joined|date:"E d, Y" }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endif %}

            <div class="col-md-8">
                <h3>Hello, {{ user.prefix }} {{ user.first_name }} {{ user.last_name }} {{ user.suffix }}</h3>
                <p>Use the tabs above to find specific reports.</p>
                {% if user.biography %}
                    <p><strong>Biography:</strong> {{ user.biography|linebreaksbr }}</p>
                {% endif %}
                {% if user.affiliations %}
                    <p><strong>Affiliations:</strong> {{ user.affiliations|linebreaksbr }}</p>
                {% endif %}
                {% if user.is_active and not user.affiliations and not user.biography %}
                    <div class="alert alert-warning">You haven't entered a biography or any affiliations. Go to your <a href="{% url 'users-edit' user.pk %}">Edit Profile</a> page to add them.</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
