{% extends "base.html" %}
{% block title %}
Account Home
{% endblock %}
{% block content %}
<div class="account-links">
    {% if user.is_staff %}
        <a href="{% url 'admin-panel' %}">Admin</a>
    {% endif %}
    <a href="{% url 'logout' %}">Logout</a>
</div>
{% include "nav_tabs.html" with active="home" %}
<div class="tab-content">
    <div id="avatar_box" class="col-md-3">
        <div id="avatar-image">
            <img src="{{ user.get_avatar_url }}" class="img-responsive" />
        </div>
        <div class="panel panel-default">
            <div class="panel-body">Profile</div>
            <ul class="list-group">
                {% if user.is_active %}
                    <li class="list-group-item text-right"><strong class="pull-left">Email</strong> {{ user.email }}</li>
                    <li class="list-group-item text-right"><strong class="pull-left">Active</strong> {{ user.is_active }}</li>
                    <li class="list-group-item text-right"><strong class="pull-left">Staff</strong> {{ user.is_staff }}</li>
                {% endif %}
                <li class="list-group-item text-right"><strong class="pull-left">Joined</strong> {{ user.date_joined|date:"E d, Y" }}</li>
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        <h2>Hello, {{ user.prefix }} {{ user.first_name }} {{ user.last_name }} {{ user.suffix }}</h2>
        <hr />
        {% if user.biography %}
            <p><strong>Biography:</strong> {{ user.biography|linebreaksbr }}</p>
        {% endif %}
        {% if user.affiliations %}
            <p><strong>Affiliations:</strong> {{ user.affiliations|linebreaksbr }}</p>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Reports</h3></div>
            <div class="panel-body">
                <h3>Any reports affiliated with you are shown below.</h3>
                <p>This includes all subscribed and invited reports. All other reports can be found
                via the tabs above.</p>
            {% if subscribed %}
                <table class="table table-striped">
                    <tr><th>You have subscribed to {{ subscribed|length }} report(s)!</th></tr>
                    {% for report in subscribed %}
                        <tr>
                            <td><a href="{% url 'reports-detail' report.pk %}">{{ report.species|default:report }}</a> on {{ report.created_on }}</td>
                        </tr>
                    {% endfor %}
                </table>

            {% endif %}
            {% if invited_to %}
                <table class="table table-striped">
                    <tr><th>You have been invited to review {{ invited_to|length }}
                            report(s)!</th></tr>
                    {% for report in invited_to %}
                        <tr>
                            <td><a href="{% url 'reports-detail' report.pk %}">{{ report.species|default:report.category }}</a> on {{ report.created_on }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
