{% extends "base.html" %}
{% block content %}
<div class="pull-right">
    <a class="btn btn-primary" href="{% url 'users-create' %}">Create User</a>
</div>
<h3>User List</h3>

<form class="form-inline">
    {{ form|bootstrap }}
    <input type="submit" value="Search" />
    <button onclick="window.location = '{% url 'users-list' %}'; return false">Reset</button>
</form>
<br />

{% if users %}
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th class="text-center">Manager</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{% url 'users-detail' user.pk %}">{{ user }}</a></td>
                    <td><a href="{% url 'users-detail' user.pk %}">{{ user.email }}</a></td>
                    <td class="text-center">{% if user.is_active %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                    <td>
                        <a href="{% url 'users-edit' user.pk %}">Edit</a>
                        <a href="{% url 'users-delete' user.pk %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "_pagination.html" with items=users %}
{% elif form.in_search_mode %}
    <div class="alert alert-warning">No matching results!</div>
{% else %}
    <div class="alert alert-warning">You haven't created any users!</div>
{% endif %}

{% endblock %}
